[paths]
source = src

[run]
branch = true
source =
    src
parallel = true
omit =
    # deprecated, will be deleted
    src/oemof/network/graph.py

[report]
show_missing = true
precision = 2
omit = *migrations*
